<ion-view view-title="Home">

	<ion-content id="home-feed">

        <style scoped>
            div.open-label {
                color: green;
            }

            div.closed-label {
                color: red;
            }
        </style>

		<ion-refresher pulling-text="Atualizar" on-refresh=""></ion-refresher>

		<!--social card section-->
            <md-card ng-repeat="classroom in classrooms" ng-click="navigateTo('app.classroom', {classroomId: classroom.id})" class="social-card">
                <md-card-content>
                    <md-list-item class="md-2-line md-no-proxy" role="listitem">
                        
                        <div class="md-list-item-text">
                            <h3>{{ classroom.name }}</h3>

                            <p>Instrutor: {{ classroom.instructor_name }}</p>
                        </div>
                    </md-list-item>
                    <p>{{ classroom.description }}</p>
                </md-card-content>

                <!--social card footer section-->
                <div class="social-card-footer">
                    <div class="row-content" layout="row">
                        <div class="col-33">
                            {{ classroom.subscriptions.length }} <span>Alunos</span>
                        </div>
                        <div class="col-33">
                            {{ classroom.experiments.length }} <span>Experimentos</span>
                        </div>

                        <div ng-if="classroom.is_open" class="col-33 open-label">
                            Aberto
                        </div>
                        
                        <div ng-if="!classroom.is_open" class="col-33 closed-label">
                            Fechado
                        </div>

                    </div>
                </div><!--end social card footer section-->
            </md-card><!--end social card section-->

		<ion-infinite-scroll ng-if="false" on-infinite="" distance="1%"></ion-infinite-scroll>

	</ion-content>

</ion-view>
