<ion-view view-title="">

	<md-toolbar class="bar-subheader md-tall md-primary toolbar-medium">
        <div>
            <h1>Nome da Sala de Aula</h1>

        </div>
    </md-toolbar><!--end toolbar section-->

	<ion-content>
		<div style="padding: 80px 0px;"></div>

		<md-tabs class="ng-hide" ng-show="!loading" md-dynamic-height md-border-bottom>
            <md-tab label="Sobre">
                <!--social profile content section-->
                <md-content id="social-profile-content" class="md-padding">

                	 <div class="row">
                        <div class="col-33">
                            <i class="ion-card"></i>
                        </div>
                        <div class="col-66">Nome da Sala de Aula</div>
                    </div>

                     <div class="row">
                        <div class="col-33">
                            <i class="ion-card"></i>
                        </div>
                        <div class="col-66">Breve descrição da sala de aula, blah, blah...</div>
                    </div>

                	<div class="row">
                        <div class="col-33">
                            <i class="ion-card"></i>
                        </div>
                        <div class="col-66">Nome do Instrutor</div>
                    </div>


					<div class="row">
                        <div class="col-33">
                            <i class="ion-card"></i>
                        </div>
                        <div class="col-66">18/09/2016</div>
                    </div>


                </md-content><!--end social profile content section-->
            </md-tab>
            <md-tab label="Experimentos">
                <!--social profile content section-->
                <md-content id="social-profile-content" class="md-padding">

	               	<md-card ng-repeat="i in [1,2,3,4]" ng-click="navigateTo('app.classroom', {classroomId: 1})" class="social-card">
		                <md-card-content>
		                    <md-list-item class="md-2-line md-no-proxy" role="listitem">
		                        
		                        <div class="md-list-item-text">
		                            <h3>Nome do Experimento</h3>

		                            <p>Criado por: Nome do Criador</p>
		                        </div>
		                    </md-list-item>
		                    <p>Breve descrição da experimento, blah, blah, blah...</p>
		                </md-card-content>

		                <!--social card footer section-->
		                <div class="social-card-footer">
		                    <div class="row-content" layout="row">
		                        <div class="col-33">
		                            5 <span>Alunos</span>
		                        </div>
		                        <div class="col-33">
		                            15 <span>Medições</span>
		                        </div>
		                        <div class="col-33">
		                            Aberto
		                        </div>
		                    </div>
		                </div><!--end social card footer section-->
		            </md-card><!--end social card section-->


                </md-content><!--end social profile content section-->
            </md-tab>
            <md-tab label="Alunos">
                <md-content >

					<div class="list">

					    <a ng-repeat="i in [1,2,3,4,5]" class="item item-avatar" href="#">
					      <img src="venkman.jpg">
					      <h2>Venkman</h2>
					      <p>Back off, man. I'm a scientist.</p>
					    </a>
					    

					</div>

                </md-content>
            </md-tab>
        </md-tabs>
	</ion-content>

</ion-view>