<ion-view view-title="">

	<md-toolbar class="bar-subheader md-tall md-primary toolbar-medium">
        <div>
            <h1>{{ classroom.name }}</h1>
        </div>
    </md-toolbar><!--end toolbar section-->

	<ion-content>
		<div style="padding: 80px 0px;"></div>

        <style scoped>
            #subscribe-btn {
                font-size: 14px;
                border-color: green;
                min-height: 30px !important;
                max-height: 30px !important;
                line-height: 0px;
            }

            .is-subscribed {
                font-size: 15px;
                font-weight: bold;
                color: green;
            }

        </style>

		<md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Sobre">
                <!--social profile content section-->
                <md-content id="social-profile-content" class="md-padding">

					<md-subheader class="md-warn">Informações</md-subheader>

                    <div class="row">
                        <div class="col-33">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="col-66">{{ classroom.name }}</div>
                    </div>

                     <div class="row">
                        <div class="col-33">
                            <i class="fa fa-info"></i>
                        </div>
                        <div class="col-66">{{ classroom.description }}</div>
                    </div>

                    <div class="row">
                        <div class="col-33">
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="col-66">{{ classroom.instructor.name }}</div>
                    </div>


					<div class="row">
                        <div class="col-33">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <div class="col-66">{{ classroom.created_at | date:'MM/dd/yyyy' }}</div>
                    </div>

                    <div ng-if="classroom.subscription" class="row">
                        <div class="col-33">
                            <i class="fa fa-check-square-o"></i>
                        </div>
                        <div class="col-66 is-subscribed">
                            Inscrito
                        </div>
                    </div>


                    <div ng-if="!classroom.subscription" class="row">
                        <div class="col-33">
                            <i class="fa fa-check-square-o"></i>
                        </div>
                        <div class="col-66">
                            <button id="subscribe-btn" ng-click="subscribe()" class="button button-stable">
                              Inscrever-se
                            </button>        
                        </div>
                    </div>

                </md-content><!--end social profile content section-->
            </md-tab>
            <md-tab label="Experimentos">
                <!--social profile content section-->
                <md-content id="social-profile-content" class="md-padding">

	               	<md-card ng-repeat="experiment in classroom.experiments" ng-click="navigateTo('app.experiment', {experimentId: experiment.id})" class="social-card">
		                <md-card-content>
		                    <md-list-item class="md-2-line md-no-proxy" role="listitem">
		                        
		                        <div class="md-list-item-text">
		                            <h3>{{ experiment.name }}</h3>

		                            <p>Criado por: Nome do Criador</p>
		                        </div>
		                    </md-list-item>
		                    <p>{{ experiment.description }}</p>
		                </md-card-content>

		                <!--social card footer section-->
		                <div class="social-card-footer">
		                    <div class="row-content" layout="row">
		                        <div class="col-33">
		                            5 <span>Alunos</span>
		                        </div>
		                        <div class="col-33">
		                            {{ experiment.samples_qtd }} <span>Medições</span>
		                        </div>
		                        <div class="col-33">
		                            Aberto
		                        </div>
		                    </div>
		                </div><!--end social card footer section-->
		            </md-card><!--end social card section-->


                </md-content><!--end social profile content section-->
            </md-tab>
            <md-tab label="Alunos">
                <md-content >

					    <a ng-repeat="student in classroom.students" class="item item-avatar" href="#">
					      <img src="img/profileAvatar.jpg">
					      <h2>{{ student.name }}</h2>
					      <p>Back off, man. I'm a scientist.</p>
					    </a>

                </md-content>
            </md-tab>
        </md-tabs>
	</ion-content>

</ion-view>